﻿body {
	padding-top: 50px;
	padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
	padding-left: 15px;
	padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
	max-width: 280px;
}

.search-container {
	margin-top: 50px;

	.search-label {
		color: #3A3B3D;
		font-family: Arial;
		font-size: 16px;
		margin-bottom: 2px;
	}

	.search-btn {
		border-radius: 2px;
		text-transform: uppercase;
		float: right;
		color: #fff;
		font: 20px sans-serif;
		letter-spacing: 2px;
		background-color: #1D4B89;
		padding: 4px 60px;
		text-align: center;
		margin: 21px 0 17px;
		border: none;

		&:hover {
			background-color: rgba(29, 75, 137, 0.68);
		}
	}

	.search-group {
		min-height: 2px;
		width: 215px;
		float: left;
		margin-right: 14px;

		.ui-select-container {
			font-size: 14px;

			.select2-search {
				margin: 3px 0;
				width: 100%;
			}

			.select2-choices {
				position: relative;
			}

			.ui-select-multiple input.ui-select-search {
				width: 100% !important;
				position: absolute;
			}

			.ui-select-multiple input.ui-select-search:not(.ng-touched) {
				width: 100% !important;
			}


			&.ng-dirty .select2-choice span {
				font-style: italic;
				font-family: Arial;
				font-weight: bold;
				font-size: 14px;
			}

			.select2-dropdown-open .select2-choice {
				background-color: #e9e9e9;
			}

			.select2-result-label {
				padding: 2px 7px;
			}

			.s-option-group {
				font-size: 15px;
				font-weight: bold;
			}

			.s-option {
				padding-left: 13px;
			}

			.s-option-all {
				font-size: 15px;
				padding-left: 0;
				font-weight: bold;
			}

			.select2-arrow {
				box-sizing: content-box !important;
				padding: 4px;
				width: 24px;
				height: 22px;
				background: rgb(233, 233, 233) !important;

				b {
					width: 100%;
					height: 100%;
					background: url('../Content/icons.png') no-repeat;
				}
			}


			.select2-results .select2-highlighted {
				background: rgba(82, 137, 224, 0.99);
			}

			.ui-select-match {
				width: 193.5px;
				height: 30px;
			}

			.select2-choice span, .ui-multiselect {
				letter-spacing: -0.07em;
				font-size: 14px;
				font-weight: bold;
			}

			.ui-multiselect:nth-child(2) {
				color: #999999 !important;
				font-size: 16px;
			}

			.select2-choice {
				border-radius: 1px !important;
				background-image: none !important;

				.select2-chosen {
					padding-left: 2px;
					letter-spacing: 0.5px;
					color: #585858;
					margin-top: 5px;
					font: 14px Arial;
				}

				&:hover {
					cursor: pointer;
				}
			}

			.ui-select-choices-row {
				font-size: 12px;
			}
		}

		&.type-country .select2-arrow b {
			background-position: -249px -281px;
		}

		&.type-location .select2-arrow b {
			background-position: -228px -19px;
		}

		&.type-calendar .select2-arrow {
			padding: 3px;

			b {
				height: 32.5px;
				background-position: -73.9px -302px;
			}
		}

		&.type-arrow .select2-arrow b {
			background-position: -30.5px -302.5px;
		}

		.search-label {
			font-size: 15px;
		}

		&:last-child {
			margin-right: 0;
		}
	}
}

.ui-select-container .select2-choices .select2-search-field, .form-group .ui-select-container .select2-choices .select2-search-field input {
	width: 100% !important;
}

.result {
	margin-top: 30px;

	.clearfix {
		clear: both;
		overflow: hidden;

		&:after, &:before {
			content: " ";
			display: table;
		}
	}

	.block {
		margin-top: 20px;

		> label {
			font-size: 16px;
		}

		@extend .clearfix;
	}

	.sub-block {
		margin-bottom: 15px;
		@extend .clearfix;
	}
}
