﻿<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - University Ontology</title>

	<link href="~/Content/normalize.css" rel="stylesheet" />
	<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
	<link href="~/Content/select.min.css" rel="stylesheet" />
	<link href="~/Content/select2.css" rel="stylesheet" />
	<link href="~/Content/site.min.css" rel="stylesheet" />

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("СГТУ", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - University Ontology</p>
        </footer>
    </div>
	
	<script type="text/javascript" src="~/Scripts/library/angular.min.js"></script>
	<script type="text/javascript" src="~/Scripts/library/angular-sanitize.min.js"></script>
	<script type="text/javascript" src="~/Scripts/library/lodash.min.js"></script>
	<script type="text/javascript" src="~/Scripts/library/select.js"></script>

	<script type="text/javascript" src="~/Scripts/app/app.js"></script>
	<script type="text/javascript" src="~/Scripts/app/dataService.js"></script>
	<script type="text/javascript" src="~/Scripts/app/homeCtrl.js"></script>


</body>
</html>