﻿@{
    ViewBag.Title = "Index";
}


<div ng-controller="homeCtrl">
    <form ng-submit="submit()" class="clearfix">
        <div class="search-container clearfix">
            <div class="search-group type-arrow">
                <label class="search-label">Факультет</label>
                <ui-select ng-model="sel.faculty" theme="select2" ng-change="changeFaculty()">
                    <ui-select-match class="selected" placeholder="Выберите факультет">{{$select.selected.nameFull}}</ui-select-match>
                    <ui-select-choices repeat="faculty in faculties | propsFilter: {nameFull: $select.search}">
                        <div ng-bind-html="faculty.nameFull | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
            </div>

            <div class="search-group type-arrow">
                <label class="search-label">Кафедра</label>
                <ui-select ng-model="sel.department" theme="select2" ng-disabled="!sel.faculty" ng-change="changeDepartment()">
                    <ui-select-match class="selected" placeholder="Выберите кафедру">{{$select.selected.nameFull}}</ui-select-match>
                    <ui-select-choices repeat="department in sel.faculty.departments | propsFilter: {nameFull: $select.search}">
                        <div ng-bind-html="department.nameFull | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
            </div>

            <div class="search-group type-arrow">
                <label class="search-label">Направление</label>
                <ui-select ng-model="sel.program" theme="select2" ng-disabled="!sel.department" ng-change="changeProgram()">
                    <ui-select-match class="selected" placeholder="Выберите направление">{{$select.selected.nameFull}}</ui-select-match>
                    <ui-select-choices repeat="program in sel.department.programs | propsFilter: {nameFull: $select.search}">
                        <div ng-bind-html="program.nameFull | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
            </div>

            <div class="search-group type-arrow">
                <label class="search-label">Дисциплина</label>
                <ui-select ng-model="sel.discipline" theme="select2" ng-disabled="!sel.program">
                    <ui-select-match class="selected" placeholder="Выберите дисциплину">{{$select.selected.nameFull}}</ui-select-match>
                    <ui-select-choices repeat="discipline in sel.program.disciplines | propsFilter: {nameFull: $select.search}">
                        <div ng-bind-html="discipline.nameFull | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
            </div>

            <button class="search-btn" ng-disabled="loadingText" ng-click="submit()">Поиск</button>
        </div>
    </form>

    <div class="loading center-block" ng-if="loadingText">
        <h4>{{loadingText}}</h4>
    </div>

    <div class="result clearfix">

        <div class="block" ng-if="sel.faculty">
            <label class="col-xs-2">Факультет</label>
            <div class="col-xs-8">{{sel.faculty.nameFull}}</div>
        </div>

        <div class="block" ng-if="sel.department">
            <label class="col-xs-2">Кафедра</label>
            <div class="col-xs-8">{{sel.department.nameFull}}</div>
        </div>

        <div class="block" ng-if="sel.program">
            <label class="col-xs-2">Направление обучения</label>
            <div class="col-xs-10">
                <div class="sub-block">
                    <label class="col-xs-2">
                        Название
                    </label>
                    <div class="col-xs-8">
                        {{sel.program.nameFull}}
                    </div>
                </div>
                <div class="sub-block" ng-if="sel.program.nameShort">
                    <label class="col-xs-2">
                        Сокращенное название
                    </label>
                    <div class="col-xs-8">
                        {{sel.program.nameShort}}
                    </div>
                </div>
                <div class="sub-block" ng-if="sel.program.code">
                    <label class="col-xs-2">
                        Код
                    </label>
                    <div class="col-xs-8">
                        {{sel.program.code}}
                    </div>
                </div>
                <div class="sub-block" ng-if="sel.program.standart">
                    <label class="col-xs-2">
                        Стандарт
                    </label>
                    <div class="col-xs-8">
                        <a href="{{sel.program.standart}}">{{sel.program.standart}}</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="block" ng-if="disFull">

            <label class="col-xs-2">Дисциплина</label>
            <div class="col-xs-10">
                <div class="sub-block">
                    <label class="col-xs-2">
                        Название
                    </label>
                    <div class="col-xs-8">
                        {{disFull.nameFull}}
                    </div>
                </div>

                <div class="sub-block">
                    <label class="col-xs-2">
                        Код
                    </label>
                    <div class="col-xs-8">
                        {{disFull.code}}
                    </div>
                </div>

                <div class="sub-block">
                    <label class="col-xs-2">
                        Форма отчетности
                    </label>
                    <div class="col-xs-8">
                        {{disFull.certificationForm.id}}
                    </div>
                </div>

                <div class="sub-block">
                    <label class="col-xs-2">
                        Часть
                    </label>
                    <div class="col-xs-8">
                        {{disFull.partDis.id}}
                    </div>
                </div>

                <div class="sub-block">
                    <label class="col-xs-2">
                        Научная работа
                    </label>
                    <div class="col-xs-8">
                        <span ng-if="disFull.scientificWorks.length !== 0">
                            <span ng-repeat="sw in disFull.scientificWorks">
                                {{sw.id}}<br />
                            </span>
                        </span>
                        <span ng-if="disFull.scientificWorks.length === 0">Нет</span>
                    </div>
                </div>

                <div class="sub-block">
                    <label class="col-xs-2">
                        Рабочая программа
                    </label>
                    <div class="col-xs-8">
                        <a href="{{disFull.workProgram}}">{{disFull.workProgram}}</a>
                    </div>
                </div>

                <div class="sub-block">
                    <label class="col-xs-2">
                        Семестр
                    </label>
                    <div class="col-xs-8">
                        {{disFull.semester}}
                    </div>
                </div>

                <div class="sub-block">
                    <label class="col-xs-2">
                        Курс
                    </label>
                    <div class="col-xs-8">
                        {{disFull.course}}
                    </div>
                </div>

                <div class="sub-block">
                    <label class="col-xs-2">
                        Количество лекций
                    </label>
                    <div class="col-xs-8">
                        {{disFull.numberOfLectures}}
                    </div>
                </div>

                <div class="sub-block">
                    <label class="col-xs-2">
                        Количество презентаций
                    </label>
                    <div class="col-xs-8">
                        {{disFull.numberOfPresentations}}
                    </div>
                </div>
                <div class="sub-block">
                    <label class="col-xs-2">
                        Количество мет. материалов ПЗ
                    </label>
                    <div class="col-xs-8">
                        {{disFull.metMatPW}}
                    </div>
                </div>

                <div class="sub-block">
                    <label class="col-xs-2">
                        Количество мет. материалов СРС
                    </label>
                    <div class="col-xs-8">
                        {{disFull.metMatSRS}}
                    </div>
                </div>

                <div class="sub-block">
                    <label class="col-xs-2">
                        Описание
                    </label>
                    <div class="col-xs-8">
                        {{disFull.description}}
                    </div>
                </div>

            </div>

        </div>

    </div>


    @*<div class="clearfix" style="clear: both;">
            <pre>{{ data | json}}</pre>
        </div>*@
</div>
